@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Oswald:wght@200;300;400;600&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	// font-family: 'Cormorant', serif;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul,
ol,
li {
	list-style: none;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 30px;
}

// @media (max-width: 992px) {
// 	.container {
// 		width: 100%;
// 		padding: 0 20px;
// 	}
// }

// @media (min-width: 320px) and (max-width: 768px) {
// 	.container {
// 		width: 100%;
// 		padding: 0 15px;
// 	}
// }
